<header id="top">
    <div id="left-header">
        <div id="profile">
            <img src="" alt="">
        </div>
    </div>
    <div id="right-header">
        <p id="notification"><i class="bi bi-bell"></i><sup>{{ notifications }}</sup></p>
        <div id="logo">
            <img src="" alt="">
        </div>
    </div>
</header>
<nav id="main-menu">
    <ul id="links">
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-list" id="exp-menu"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-border-all"></i> 
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-person-circle"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-building-fill"></i>
            </a>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-bank"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-search"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-credit-card"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-chat-square"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-telephone-fill"></i>
            </a>
        </li>
        <li class="link">
            <a routerLink="#">
                <i class="bi bi-play-circle"></i>
            </a>
        </li>
    </ul>
</nav>