* {
    background-color: transparent;
}

.container #logo {
    background: linear-gradient(to bottom, var(--light-gradient), var(--middle-gradient), var(--dark-gradient));
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    left: 1.6em;
    top: 3.5em;
}

#logo #symbol {
    width: 167px;
    height: 234px;
    background: transparent;
    transform: scale(1.5);
    position: absolute;
    top: 5.5em;
}

#logo #name {
    background-color: transparent;
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7em;
}

#name #msg-welcome {
    color: #5f6871;
    font-size: 3em;
    top: 87%;
    left: 25%;
    cursor: default;
    padding: 0;
    background-color: transparent;
}
#logo #symbol .item-logo {
    background: transparent url('reachr-gfx/symbol-logo.png') center center no-repeat;
    width: 167px;
    height: 234px;
}

#logo #name .item-logo {
    background: url('reachr-gfx/name-logo.png') center center no-repeat;
    width: 710px;
    height: 261px;
    display: flex;
    gap: 1em;
}