#container {
    background: linear-gradient(to bottom, var(--light-gradient), var(--middle-gradient), var(--dark-gradient));
    min-width: 100vw;
    min-height: 100vh;
}

#logo #symbol {
    width: 100%;
    height: 100%;
    background: url('reachr-gfx/symbol-logo.png') center center no-repeat;
    position: absolute;
    left: 5%;
    top: -9%;
    transform: scale(1.3);
}

#logo #name {
    width: 150%;
    height: 100%;
    background: url('reachr-gfx/name-logo.png') center center no-repeat;
    position: absolute;
    left: -18vw;
    top: 20%;
    transform: scale(0.5);
    display: flex;
    justify-content: center;
}

#container #msg-welcome {
    position: absolute;
    color: #5f6871;
    font-size: 3em;
    top: 87%;
    left: 38%;
    cursor: default;
    padding: 0;
    background: var(--dark-gradient) linear-gradient(to bottom, #134794, #104289);
}