#container {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
}

app-header {
    z-index: 10;
    position: fixed;
}

app-pages {
    position: relative;
    z-index: 9;
}

#body {
    position: relative;
    transform: translateX(-13.63em);
    min-width: calc(100vw - 0.9em);
    min-height: 100vh;
    overflow: hidden;
}
