.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-page);
}

header {
    background-color: var(--bg-page);
}

app-pages {
    position: absolute;
    height: 100%;
}