<section id="pages">
    <div id="link-pages">
        <nav id="menu-pages">
            <ul id="list-pages">
                <li class="list-item">
                    <a routerLink="#" class="txt-link">
                        <i class="bi bi-folder-fill"></i>
                        <span class="txt">Cargo</span> 
                    </a>
                </li>
                <li class="list-item">
                    <a routerLink="#" class="txt-link">
                        <i class="bi bi-briefcase-fill"></i>
                        <span class="txt">Empresa</span>
                    </a>
                </li>
                <li class="list-item">
                    <a routerLink="#" class="txt-link">
                        <i class="bi bi-graph-up"></i>
                        <span class="txt">Gestor</span>
                    </a>
                </li>
                <li class="list-item">
                    <a routerLink="#" class="txt-link">
                        <i class="bi bi-inboxes-fill"></i>
                        <span class="txt">Vaga</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="open-menu"></div>
</section>
