.container {
    display: flex;
}

#pages {
    display: flex;
    width: 13.6em;
    background-color: transparent;
}

.menu-pages > .list-pages {
    height: 100%;
    margin-left: 3.6em;
    padding-top: 3em;
    background-color: var(--bg-menu);
    list-style: none;
    overflow: hidden;
}

.menu-pages .list-item {
    margin: 1.3em 0.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 3px;
}

.menu-pages .txt-link {
    text-decoration: none;
    color: var(--font-color);
    transition: color .4s ease;
    display: flex;
    gap: 1em;
}

.menu-pages .txt-link:hover {
    color: var(--light-font);
}

.menu-pages .txt-link > i {
    margin-right: 0.5em;
}

#open-menu {
    height: 100vh;
    width: 0.8em;
    background-image: linear-gradient(to right, var(--bg-menu), var(--font-color));
    cursor: pointer;
}

#open-menu span {
    position: absolute;
    top: 50%;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: transparent;
    color: var(--font-color);
}