.text {
    color: var(--light-font);
    border: none;
    border-radius: 3px;
    resize: none;
    padding: 0.6em;
}

.text:focus {
    outline: none;
}

.editor {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.box {
    display: flex;
}

.edit-btn {
    border: none;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
}

select,
input
{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

